<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="center jumbotron" style="background-image: url('/assets/banner.jpg');background-size:cover">
  <h1 style="color: #ffffff">Welcome to the Yulp App</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", style:"background-color:  #B00100; border: none" %>
</div>
<%for i in 0..4%>
    <div class = "container">
      <div class="ResTitle">
        <div class="displaygraph">
          <%@image_src = "https://ichef-1.bbci.co.uk/news/976/media/images/83351000/jpg/_83351965_explorer273lincolnshirewoldssouthpicturebynicholassilkstone.jpg" %>
          <div class="slideshow-container">
            <%@name = "slides"+i.to_s%>
            <div class="mySlides" name = <%="#@name"%> >
              <div class="numbertext"><%= i%></div>
              <img src= <%="#@image_src"%> style="height:150px;width:150px">
            </div>
            <div>
              <a class="prev" onclick="plusSlides(-1, <%= i%>)">&#10094;</a>
              <a class="next" onclick="plusSlides(1, <%= i%>)">&#10095;</a>
            </div>
          </div>
        </div>
        <h2>Restaurant Name</h2>
        <% @rating = 0 %>
        <span class=<%if @rating >= 1 %> "fa fa-star checked" <%else%>"fa fa-star"<%end%>></span>
        <span class=<%if @rating >= 2 %> "fa fa-star checked" <%else%>"fa fa-star"<%end%>></span>
        <span class=<%if @rating >= 3 %> "fa fa-star checked" <%else%>"fa fa-star"<%end%>></span>
        <span class=<%if @rating >= 4 %> "fa fa-star checked" <%else%>"fa fa-star"<%end%>></span>
        <span class=<%if @rating >= 5 %> "fa fa-star checked" <%else%>"fa fa-star"<%end%>></span>
        <h4>Restaurant description</h4>
        <%  @idname = "toggle"+ i.to_s%>
        <%= @idname %>
        <% @location = "SafeHouse+Chicago,60+E+Ontario+St+Chicago,IL+60611"
           @address = "https://www.google.com/maps/embed/v1/place?key=AIzaSyC1crIIEC4So_FjEGhQ2QX1W9dc7eeM2Ds&q=" + @location%>
        <button type="button" class="mybtn collapsed" data-toggle="collapse" data-target=<%="##@idname"%>></button>
        <div id= <%="#@idname"%>  class="collapse">
          <div>
            <div class = "map">
              <iframe
              width="300"
              height="300"
              frameborder="0" style="border:0"
              src=<%="#@address"%> allowfullscreen>
              </iframe>
            </div>
            <h3>Other Detail</h3>
            </div>
          <div class="popular_time">
          </div>
          <div class="reviews">
            <div>
            <h3 style="background: #B00100; color:#ffffff">Reviews  <button type="button" data-toggle="modal" style="float: right; background: #850100; border: none; height: 24px; font-size:16px"  data-target=<%='#'+@idname+'review'%>>Make Review</button>
</h3>
                <div class="modal fade" id=<%="#@idname"'review'%> role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Make review</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    <%= form_tag () do%>


                                    <%= submit_tag 'Send' %>
                                    <% end %>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="reviewcontainer">
            <%@user = "user1"; @userrating = 2; @userreview = "This is a test of review I will try to see  how the reviews actually work in long reviews or paragraphs"%>
             <table>
                 <%for k in 0...4%>
                 <tr>
                     <td style="padding-right:20px;"><%= @user%></td>
                     <td>
                     <span class=<%if @userrating >= 1 %> "fa fa-star checked" <%else%>"fa fa-star"<%end%>></span>
                     <span class=<%if @userrating >= 2 %> "fa fa-star checked" <%else%>"fa fa-star"<%end%>></span>
                     <span class=<%if @userrating >= 3 %> "fa fa-star checked" <%else%>"fa fa-star"<%end%>></span>
                     <span class=<%if @userrating >= 4 %> "fa fa-star checked" <%else%>"fa fa-star"<%end%>></span>
                     <span class=<%if @userrating >= 5 %> "fa fa-star checked" <%else%>"fa fa-star"<%end%>></span></br><%= @userreview%></td>
                 </tr>
                 <%end%>
             </table>
          </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

