<div class="center jumbotron">
  <h1>Welcome to the Yulp App</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<html>
<%= render 'layouts/header' %>
<body>
<%for i in 0..4%>
    <div class = "container">
      <div class="ResTitle">
        <div class="displaygraph">
          <%@image_src = "https://ichef-1.bbci.co.uk/news/976/media/images/83351000/jpg/_83351965_explorer273lincolnshirewoldssouthpicturebynicholassilkstone.jpg" %>
          <div class="slideshow-container">
            <%@name = "slides"+i.to_s%>
            <div class="mySlides" name = <%="#@name"%> >
              <div class="numbertext"><%= i%></div>
              <img src= <%="#@image_src" %> style="height:120px;width:120px">
            </div>
            <div class="mySlides" name = <%="#@name"%> >
              <div class="numbertext"><%= i%></div>
              <img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/1200px-Good_Food_Display_-_NCI_Visuals_Online.jpg" style="height:120px;width:120px">
            </div>
            <div class="mySlides" name = <%="#@name"%> >
              <div class="numbertext"><%= i%></div>
              <img src= "https://static.pexels.com/photos/70497/pexels-photo-70497.jpeg" style="height:120px;width:120px">
            </div>


            <div>
              <a class="prev" onclick="plusSlides(-1, <%= i%>)">&#10094;</a>
              <a class="next" onclick="plusSlides(1, <%= i%>)">&#10095;</a>
            </div>
          </div>
        </div>
        <h2>Restaurant Name</h2>
        <h4>Restaurant description</h4>
        <%  @idname = "toggle"+ i.to_s%>
        <%= @idname %>
        <% @location = "SafeHouse+Chicago,60+E+Ontario+St+Chicago,IL+60611"
           @address = "https://www.google.com/maps/embed/v1/place?key=AIzaSyC1crIIEC4So_FjEGhQ2QX1W9dc7eeM2Ds&q=" + @location%>
        <button type="button" class="btn collapsed" data-toggle="collapse" data-target=<%="##@idname"%>></button>
        <div id= <%="#@idname"%>  class="collapse">
          <div>
            <div class = "map">
              <iframe
              width="300"
              height="300"
              frameborder="0" style="border:0"
              src=<%="#@address"%> allowfullscreen>
              </iframe>
            </div>
            <h3>Other Detail</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta non turpis faucibus lobortis. Curabitur non eros rutrum, gravida felis non, luctus velit. Ut commodo congue velit feugiat lobortis. Etiam nec dolor quis nulla bibendum blandit vitae nec enim. Maecenas id dignissim erat. Aenean ac mi nec ante venenatis interdum quis vel lacus.
            </p>
            <p>Aliquam ligula est, aliquet et semper vitae, elementum eget dolor. In ut dui id leo tristique iaculis eget a dui. Vestibulum cursus, dolor sit amet lacinia feugiat, turpis odio auctor nisi, quis pretium dui elit at est. Pellentesque lacus risus, vulputate sed gravida eleifend, accumsan ac ante. Donec accumsan, augue eu congue condimentum, erat magna luctus diam, adipiscing bibendum sem sem non elit.</p>
          </div>
        </div>
      </div>
    </div>

<%end%>
<script>
    var slideIndex = 1;
    for(var k = 0; k < 5; k++) {
        showSlides(slideIndex, k);
    }

    function plusSlides(n, id) {
        showSlides(slideIndex += n, id);
    }

    function currentSlide(n, id) {
        showSlides(slideIndex = n, id);
    }

    function showSlides(n, id) {
        var i;
        var name = "slides" + id
        var slides = document.getElementsByName(name);
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }

        slides[slideIndex-1].style.display = "block";
    }
</script>
</body>
</html>
