<div class="modal fade" id=<%="#{id_name}review"%> role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Make review</h4>
      </div>
      <%= form_for @review do |f| %>
          <div class="modal-body">
            <%= f.label :text %>
            <%= f.text_field :text %>
            <%= f.submit %>
          </div>
      <% end %>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>