<div style="padding: 5%; float: left">
<div class="displaygraph">
  <%- image_src = restaurant[:image_url] %>
  <% restaurant_name = "slides"+i.to_s%>
  <div class="slideshow-container">
    <div class="mySlides" name = <%="#{restaurant_name}"%> >
      <%= image_tag image_src, :style => 'height:160px;width:240px' %>
    </div>
  </div>
</div>
<h2><%= restaurant[:name] %></h2>
<h4><%= restaurant[:address]  %>
  <% if @preference['rating'] %>
    Rating : <%= restaurant[:rating] %>
    <%= render :partial => 'restaurant_stars', :locals => {:rating => restaurant[:rating] }   %>
    <% if @preference['reviews'] %>
      (<%= restaurant[:review_count]%>)
    <% end %>
  <% end %>
</h4>
</div>